<ul class="product-lists">
    {% for product in collections.all.products %}
        <li>
            <div>{{ product.featured_image | img_url: '300x300' | img_tag: product.featured_image.alt }}</div>
            <a href="{{ product.url}}">{{ product.title}}</a>
            <div class="card-information">
                {% render 'price', product: product %}
            </div>
        </li>
    {% endfor %}
</ul>